//- module
doctype html
include @/@loadingio/bootstrap.ext/dist/index.pug
html
  block vars
  head
    block prehead
    +css("/assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    block head
  body
    block body
    +script("/assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/assets/lib/@plotdb/csscope/dev/index.min.js")
    block script
