extends /base.pug
block head
  style(type="text/css",scope="v2"): :stylus
    .hint { background: #5f9 }
  style(type="text/css",scope="v1"): :stylus
    .hint { background: #f95 }
block body
  .w-1024.rwd.mx-auto.my-4
    .d-flex.align-items-center
      h1.m-0.flex-grow-1 hello
      .d-flex.align-items-center
        .switch(ld="toggle")
        .ml-2 enable scoping
    .v1.border.rounded.border.p-2(scope)
      .hint.border.my-2.px-4.py-2.shadow-sm.rounded
        h2.mb-0 scope v1
        div should be #[span.text-danger red] when scoping
      .v2.border.rounded.m-2.p-2(scope)
        .hint.border.my-2.px-4.py-2.shadow-sm.rounded
          h2.mb-0 scope v2
          div should be #[span.text-success green] when scoping
    +nbr(2)
    h3 Library Scoping
    p loading external libraries ( pure css, materialize css, etc ) and apply in different parts of the same DOM tree.
    .d-flex.align-items-center
      .flex-grow-1.card.mr-4: .card-body(ld="csslib",data-name="0")
        div Pure CSS Only
        .d-flex.align-items-center
          .flex-grow-1
            label MaterializeCSS
            div
              a.waves-effect.waves-light.btn Save
              a.waves-effect.waves-light.btn #[i.material-icon.left] Cancel
          .flex-grow-1
            label Pure CSS
            div
              button.pure-button.pure-button-primary Save
              button.pure-button Cancel
          .flex-grow-1
            label Semantic UI
            div
              button.ui.primary.button Save
              button.ui.button Cancel
      .flex-grow-1.card.ml-4: .card-body(ld="csslib",data-name="1")
        div Materialize CSS Only
        .d-flex.align-itms-center
          .flex-grow-1
            label MaterializeCSS
            div
              a.waves-effect.waves-light.btn Save
              a.waves-effect.waves-light.btn #[i.material-icon.left] Cancel
          .flex-grow-1
            label Pure CSS
            div
              button.pure-button.pure-button-primary Save
              button.pure-button Cancel
          .flex-grow-1
            label Semantic UI
            div
              button.ui.primary.button Save
              button.ui.button Cancel
    +nbr(2)
    h3 Scoping by CSSRuleList
    p instead of CSS Text, csscope can also scope CSSRuleList directly.
    .card: .css-rule-list.card-body
      div this text should be red if CSSRuleList support works

    

block script
  script: include:lsc index.ls
