extends /base.pug
block head
block body
  div(class="name-version-path")
    span hello
  div(ld="root")
block script
  +script("/assets/lib/@plotdb/csscope/dev/index.min.js")
  +script("/assets/bundle/bundle.js")
  script: include:lsc bundle.ls
